@font-face {
    font-family: nexa;
    src: url(nexa.ttf);
}

body {
  margin: auto;
  padding: 0;

  font-family: "nexa";
}

.container {
    width: 960px;
    margin-top: 10px;
}

.input {
    font-weight: bold;
}